.container {
  width: 1216px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 576px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
