.title {
  margin: 0;
  color: rgba(227, 228, 230, 0.55);
  font-size: 40px;
  font-weight: 300;
  line-height: 60px;
  span {
    color: #e3e4e6;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
  }
}
